@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@layer base {
  :root {
    --red: #ff0000;
    --red-light: #ff4d4d;
  }
}

.cl-formButtonPrimary:hover {
  background-color: rgba(21, 128, 60, 0.856);
}
